@page "{payeeId}"
@model Application.RazorPages.Pages.Payees.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="alert alert-danger">
    Are you sure you want to delete @Model.Payee.Name?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Confirm</button>
    <a asp-page="./List" class="btn btn-default">Cancel</a>
</form>
