@page
@model Application.RazorPages.Pages.Payees.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>Keywords for @Model.Payee.Name</h2>
<table class="table">
    @foreach(var keyword in Model.Payee.Keywords)
    {
        <tr>
            <td>@keyword.Value</td>
        </tr>
    }
</table>
<a asp-page="./List" class="btn btn-primary">All payees</a>

