@model Application.Models.PayeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name</h2>
<hr />
<div>
    <h4>Keywords</h4>

    <p>
        <a asp-controller="Keyword" asp-action="Create" asp-route-payeeId="@Model.Id">Add</a>
    </p>
    <table class="table">
        <tbody>
            @foreach (var item in Model.Keywords)
            {
                <tr>
                    <td>
                        @item
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "Keyword", new { keyword = item, payeeId = Model.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-action="Index">Back</a>
    </div>
</div>

